<h4>Tenant Information</h4>

<%= @tenant.name %>

<h4>Apartment</h4>
<a href="/apartments/<%= @tenant.apartment_id %>">
<%= @tenant.apartment.address %>

<br>

<button>
  <a href="/tenants/<%= @tenant.id %>/edit">Edit</a>
</button>

<br>

<form action="/tenants/<%= @tenant.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete"/>
</form>

<br>


<button>
  <a href="/tenants">Back</a>
</button>

